<header>
    <img src="assets/img/Logotipo color-page-001.jpg">

    <nav class="navbar">
        <ul>
            <li class="menu"><a href="">Inicio</a></li>
            <li class="menu"><a href="nosotros">Nosotros</a></li>
            <li class="menu"><a href="equipo">Equipo</a></li>
            <li class="menu"><a href="servicios">Servicios</a></li>
            <li class="menu"><a href="disolApp">Disol App</a></li>
            <li class="menu"><a href="contacto">Contacto</a></li>
        </ul>
    </nav>
</header>