<section>

    <div class="title mb-3">Entra en contacto con nosotros</div>

    <div class="row">
        <div class="d-flex justify-content-center">
            <img id="Img" src="/img/disol.jpg">
        </div>
    </div>

    <div class="d-flex justify-content-around box mb-5">
        <form class="col-md-6">
            <legend><i class="fa fa-address-card"></i>&thinsp;&thinsp;Nuestras Oficinas</legend>
            <address>
                <strong>Diversity Solutions Consulting S.C.</strong><br>
                Paseo de Jerez #409<br>
                León, Guanajuato, 37530<br>
                <abbr title="Phone">
                    P:</abbr>
                (477) 630 84 50
            </address>

            <address>
                <strong>Para comentarios y/o sugerencias enviar mail a:</strong><br>
                <a href="mailto:#" class="link">lopez.teresa@disol.mx</a>
            </address>

            <address>
                <strong>Para soporte técnico de Disol App enviar mail a:</strong><br>
                <a href="mailto:#" class="link">soporte@disol.mx</a>
            </address>
        </form>

        <div class="col-md-6">
            <legend><i class="fa fa-globe" aria-hidden="true"></i>&thinsp;&thinsp;Síguenos en Redes Sociales</legend>
            <address class="ml-4 mt-3">
                <i class="fa fa-facebook-square"></i>&thinsp;&thinsp;&thinsp;&thinsp;<a class="link"
                    href="https://www.facebook.com/disol.consulting/" target="_blank">Facebook</a>
            </address>
            <address class="ml-4 mt-3">
                <i class="fa fa-linkedin"></i>&thinsp;&thinsp;&thinsp;&thinsp;<a class="link"
                    href="https://www.linkedin.com/company/dsl-diversity-solutions-consulting/"
                    target="_blank">LinkedIn</a><br>
            </address>
            <address class="ml-4 mt-3">
                <i class="fa fa-twitter"></i>&thinsp;&thinsp;&thinsp;&thinsp;<a class="link" href="#"
                    target="_blank">Twitter</a><br>
            </address>
            <address class="ml-4 mt-3">
                <i class="fa fa-youtube"></i>&thinsp;&thinsp;&thinsp;&thinsp;<a class="link" href="#"
                    target="_blank">Youtube</a><br>
            </address>
        </div>
    </div>
</section>