<section>

    <div class="title">¿Quiénes Somos?</div>

    <div class="container">
        <div class="img-left">
            <img src="assets/img/disol.jpg" class="disol rad">
        </div>

        <div>
            <div class="story">
                Disol Consulting es una Sociedad Civil (S.C) fundada en el 2016 con el fin de proveer soluciones en el
                área
                de RH a las empresas japonesas establecidas en la región del Bajío. Comenzamos apoyando a las empresas
                japonesas
                con intérpretes y traductores calificados para dar soporte en actividades relacionadas a la industria y
                en asuntos
                de materia fiscal y contable.
                <br>
            </div>
            <div class="story">
                Más tarde se introdujeron cursos de capacitación relacionados a materia fiscal y legal en México.
                Disol está registrada como <strong>Agente Capacitador Externo</strong> ante la Secretaría del Trabajo
                y Previsión Social.
            </div>
        </div>
    </div>

    <div class="title">Nuestros Aliados</div>

    <div class="container">
        <div class="img-rigth">
            <img src="assets/img/daiLogo.jpg" class="disol">
        </div>

        <div class="story">
            <strong>Disol Consulting</strong> forma parte del grupo Dai Kigyo &#174; Consulting Firms, el cual
            fue creado para atender la necesidad de las empresas de capital japonés en el sector automotriz.
            Dai Kigyo &#174; congrega profesionistas especializados en diversas áreas, no solo industriales u
            operativas, sino también personales y enfocadas a la enseñanza del idioma japonés a hispanohablantes.
            Es en ésta última área donde <strong>Disol Consulting</strong> está más enfocado.
        </div>

    </div>
    <div class="container">
        <div class="img-center">
            <img src="assets/img/DaiKigyo.jpg" class="disol rad">
        </div>
    </div>

</section>