<section>
    <div class="title">Nuestro equipo</div>
    <div class="d-flex flex-row box justify-content-around mt-4 mb-5">
        <div class="contentBox">
            <div class="container">
                <img src="/img/ken.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text">
                        Kenichi Kimata
                        <div class="charge"> CEO </div>
                    </div>
                </div>
            </div>
            <div class="info">
                Kimatasan es un emprendedor nato
                que siempre busca nuevos caminos
                para innovar. Él se encarga de
                atraer clientes potenciales y de
                cerrar negocios con ellos.
                Ken es conocido entre la
                comunidad japonesa en México.
            </div>
        </div>
        <div class="contentBox">
            <div class="container">
                <img src="/img/gus.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text">
                        Gustavo López
                        <div class="charge"> CFO </div>
                    </div>
                </div>
            </div>
            <div class="info">
                Gus es Ingeniero Mecatrónico y
                actualmente estudia una maestría.
                Él se encarga de todo lo relacionado
                con las finanzas de nuestro negocio.
                Le encanta aprender japonés y en
                general, ama la cultura japonesa.
            </div>
        </div>
    
        <div class="contentBox">
            <div class="container">
                <img src="/img/tere.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text">
                        Teresa van Dam
                        <div class="charge"> COO </div>
                    </div>
                </div>
            </div>
            <div class="info">
                Tere tiene un máster en Data Science.
                Ella es responsable de las operaciones
                diarias del negocio y de nuestros
                proyectos tecnológicos. Le encanta
                aprender de otras culturas e
                interactuar con clientes y proveedores.
            </div>
        </div>
    </div>
</section>