<section>
    <div class="title">Disol App: aprende japonés con tutores nativos desde tu casa</div>

    <div class="d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-7 d-flex justify-content-center">
            <img src="/img/app.jpg" class="appImg">
            <img src="/img/app2.jpg" class="appImg">
        </div>
        <div class="col-md-5 info">
            <div class="row">
                Con Disol App podrás tener acceso a material de calidad para apender japonés
                elaborado por tutores expertos y/o nativos del idioma. Disol App tiene cursos
                gratuitos y de pago así como clases virtuales.
            </div>

            <div class="row mt-3">
                Los cursos de pago incluyen material exclusivo y tips del tutor para mejorar tu aprendizaje.
                En las clases virtuales, podrás practicar y aprender con un tutor personal, sólo necesitas
                contactar al tutor mediante el chat de Disol App y acordar el tema a tratar y la duración
                de tu clase.
            </div>

            <div class="row mt-3">
                ¡No esperes más, descarga Disol App desde tu Google Play Store y aprende y/o practica japonés
                con los expertos!<br>
                <a href="/privacidad" style="color: #F5B40E; margin-top: 20px;">Consulta nuestra Política de
                    Privacidad</a>
            </div>


        </div>
    </div>
</section>