<section>
    <div>
        <div>
            <h1 id="titlePage" class="mt-4 mb-4">¡Disol te ofrece un nuevo servicio!</h1>
            <video width="750" height="350" autoplay loop>
                <source src="assets/img/disolApp.mp4" type="video/mp4">
            </video>
        </div>
        <div class="contenedor">
            <h4 class="display-5">
                ¡Aprende japonés con los expertos desde la comodidad de tu casa!
            </h4>
        </div>
        <div class="contenedor">
            <a href="disolApp" class="btn">Conocer más sobre Disol App</a>
        </div>
    </div>
</section>